<pre>
    Profile Name {{name}} is his Age  {{age}} ,Yes It is  {{correct}}
    
    He likes {{fruits}} 
	number[] :: {{ages}} -- {{ages[1]}}
	tuple :: {{tuple}}  -- {{tuple[2]}}
	object:any ::  {{users.name}}, {{users.tech}} , {{users.area}} ,{{users.Stage}}
	null :: {{a}}
	

	Expressions

	{{age}} + {{two}} = {{age + two}}
	{{age}} * {{two}} = {{age * two}}
	{{age}} - {{two}} = {{age - two}}
	{{age}} / {{two}} = {{age / two}}
	{{age}} % {{two}} = {{age % two}}
 
	 

</pre>

<p style="background-color:tomato;" title="{{age}}" > Hello {{name}} how are you</p>