<!-- 
* = Used for Conditions eg : *ngIf , *ngFor ..etc
[HTML element name] = Used for property binding such as getting the value of a variable(True/False)
                        from the component. eg : [hidden],[disabled]..etc
(HTML event) = Used fot Event binding such as clicking button and getting the response of the method 
                 in the component 
  For String Interpolation , Property Binding , Event Binding check the app.home.html and app.component.ts
   file              -->

<h1>First Angular Application </h1>

<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a [routerLink] = "['/']"> Home </a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Fruits
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a [routerLink] = "['/fruit']">Page 1-1</a></li>
                  <li><a href="#">Page 1-2</a></li>
                  <li><a href="#">Page 1-3</a></li>
                </ul>
              </li>
              
            
            <li><a [routerLink] = "['/product']"> Products</a></li>
            <li><a [routerLink] = "['/profile']"> Profile </a></li>
            <li><a [routerLink] = "['/directive']"> Directives </a> </li>
          </ul>
        </div>
      </nav>
<router-outlet></router-outlet>        
      


<footer>
    &copy; CopyRights of Chaitanya Prashanth	
</footer>